.pagina {
    
    min-height: 100%;

}
.card-danger {
    border-color: #ebccd1;
    background-color: #fff;
}

.card-header {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.footer {

}

.nomecertificado {
    font-weight: 500;
}