.card-danger {
    border-color: #ebccd1;
    background-color: #fff;
}

.card-header {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
p {
    font-size: 22px;
}
.imgrealizacao{
    margin: 0 auto;
}
.btn-certificado{
    color: #fff;
    background-color: #9f346c;
    border-color: #9f346c;
}