<div class="app flex-row align-items-center">
<div class="container">
  <div class="row ">
    <div class="col-md-6 offset-md-3">
      <div class="card card-container">

        <img src="assets/img/logo-hackfest.png" alt="p">

        <div class="card-block">
          <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm.value)">

            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Login" name="login" ngModel required>
            </div>

            <div class="input-group mb-4">
              <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
              <input type="password" class="form-control" placeholder="Senha" name="senha" ngModel required>
            </div>

            <div class="row">
              <div class="col-3"></div>
              <div id="botao" class="col-6">
                <button type="submit" class="btn btn-primary px-4">Login</button>
              </div>              
            </div>

          </form>

          <div class="row" style="padding-top: 20px">
            <div class="alert alert-info">
              <p>
                Informamos que para acesso ao certificado do hackfest o participante deverá informar Login: número do cpf do participante e senha: número do cpf do participante.
              </p>
              <p>
                Pedimos a quem não informou o CPF na inscrição que nos envie pelo email: contato@hackfest.com.br.
              </p>
            </div>
          </div>
        </div>
        <div id="errorLogin" *ngIf="errorMessage" class="alert alert-danger" role="alert">
          <p> {{ errorMessage }} </p>
          <p>Caso seu login e senha estejam corretos, entrar em contato através do endereço contato@hackfest.com.br</p>
        </div>
      </div>
    </div>
    
  </div>
</div>
</div>
