<div>
    <nav class="sidebar-nav">
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-home"></i> Dashboard</a>
            </li>

            <li class="divider"></li>

            <li class="nav-title">Seções</li>

            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/downloads']"><i class="fa fa-cloud-download" aria-hidden="true"></i> {{mensagem}}</a>
            </li>
        </ul>
    </nav>
</div>
